@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#0b1020;
color:white;
min-height:100vh;
display:flex;
flex-direction:column;
overflow-x:hidden;
}

main{
flex:1;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
width:100%;
padding:20px;
}

h1{
font-size:90px;
font-weight:800;
}

.tagline{
font-size:30px;
margin-bottom:90px;
}

#surpriseBtn{
width:450px;
height:120px;
font-size:38px;
border-radius:30px;
}

#result{
font-size:55px;
max-width:1000px;
min-height:220px;
}

footer{
height:120px;
display:flex;
justify-content:center;
align-items:center;
}

.ads{
width:90%;
max-width:728px;
height:90px;
border:2px dashed rgba(255,255,255,.15);
border-radius:16px;
}
h1,.tagline,#surpriseBtn,#result{
position:relative;
z-index:2;
}
